$color-primary: #f16e00;
$color-secondary: #e07819;
$color-tertiary: #be4220;
$color-white: #ffffff;
$color-black: rgb(0, 0, 0);
$color-dark-grey: #414141;
$dot-color:#FFC798;

.alternate-heading-color {
  color: $color-tertiary;
}

.color-white {
  color: $color-white;
}
